<a href="/portfolio" class="brand-logo left">Portfolio Manager</a>
 <ul class="right">
 <% if (currentUser) { %>
    <h1>Welcome <%=currentUser.username%></h1>
    <div class="logout">
    <p>
      <form action="/sessions?_method=DELETE" method="POST">
        <input class="logoutbutton" type="Submit" value="Log Out" />
      </form>
    </p>
    </div>
 <% } else { %>
   <div class="login">
   <a href="/users/new"><button>Sign Up</button></a><br/>
   <a href="/sessions/new"><button>Log In</button></a>
   </div>
 <% } %>
</ul>
