<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <%- include ('../partials/fonts.ejs') %>
  </head>
  <body>
    <h1>Applications Page</h1>
    <div class="text">
    <%JSON.stringify(applicationList)%>
      <br/>
        <% for(let i=0; i< applicationList.length; i++){ %>
            <div class="card">
              <img class="images" src="<%=applicationList[i].companyImage%>"></img><br/>
              <div class="name">
              <a class="nameLink" href="/portfolio/applications/<%=applicationList[i].id%>">
                <%=applicationList[i].position %>
              </a>
              </div>
            </div>
            <br/>
        <%  } %>
    </div>
    <br />
    <nav>
      <a class="new" href="/portfolio/applications/new">Create a new application</a> <br/>
      <a class="new" href="/portfolio">Back to Portfolio Manager</a>
  </body>
</html>
