<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form action="/portfolio" method="POST">
      Project Name: <input type="text" name="projectName">
      Description: <input type="textarea" name="description">
      Date: <input type="text" name="date">
      Image: <input type="text" name="previewImage">
      Github Link: <input type="text" name="githubLink">
      <input type="submit" value="Create Project">
    </form>
  </body>
</html>
