<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <%- include ('../partials/fonts.ejs') %>
  </head>
  <body>
    <h1>Add New Projects!<h1> <br/>
    <form action="/portfolio" method="POST">
      Project Name: <input type="text" name="projectName">
      Description: <input type="textarea" name="description">
      Date: <input type="text" name="date">
      Image: <input type="text" name="previewImage">
      Github Link: <input type="text" name="githubLink">
      <input type="submit" value="Create Project">
    </form>

    <style>
    body{
      font-family: 'Libre Baskerville', serif;
    }
    nav{
      background-color: #422894;
      color: white;
    }
    nav a{
      color: white;
      text-align: right;
    }
    nav h1{
      color: white;
      text-align: right;
    }
    .lowNav{
     text-align: center;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
    }
    h1{
      color: #422894;
      font-family: 'Libre Baskerville', serif;
      text-align: center;
      font-weight: bolder;
    }
    .text {
          display: flex;
          flex-wrap: wrap;
          gap: 10px;
          margin-left: 6vw;
          margin-right: 6vw
        }
    .images{
          max-width: 350px;
          max-height: 300px;
        }
    .card{
          border: 1px solid black;
          border-radius: 25px;
          padding: 20px;
        }
    .nameLink{
      font-family: 'Libre Baskerville', serif;
    }
    .card:hover{
          box-shadow: 2px 2px
        }
    button{
      background-color: #DFDAF1;
      color: #422894;
      font-family: 'Libre Baskerville', serif;
    }
    .login{
      text-align: right
    }
    .brand-logo{
     background-color: #DFDAF1;
     color: #422894;
     font-family: 'Ultra', serif;
     font-size: 30px;
     text-decoration: none;
     text-align: center
    }
    .cardLink{
      text-decoration: none;
      text-align: center
    }
    .projTitle{
      font-weight: bold
    }
    </style>
  </body>
</html>
