body{
  font-family: 'Libre Baskerville', serif;
}
nav{
  background-color: #422894;
  color: white;
}
nav a{
  color: white;
  text-align: right;
}
nav h1{
  color: white;
  text-align: right;
}
.lowNav{
 text-align: center;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}
h1{
  color: #422894;
  font-family: 'Libre Baskerville', serif;
  text-align: center;
  font-weight: bolder;
}
img{
  transform: scale(0.8)
}

.text {
      display: flex; flex-wrap: wrap; gap: 10px
    }
.images{
      max-width: 550px;
      max-height: 650px;
    }
.card{
      border: 1px solid black;
      border-radius: 25px;
      padding: 20px;
    }
.nameLink{
  font-family: 'Libre Baskerville', serif;
}
.card:hover{
      box-shadow: 2px 2px
    }
button{
  background-color: #DFDAF1;
  color: #422894;
  font-family: 'Libre Baskerville', serif;
}
.login{
  text-align: right
}
.brand-logo{
 background-color: #DFDAF1;
 color: #422894;
 font-family: 'Ultra', serif;
 font-size: 30px;
 text-decoration: none;
}
.cardLink{
  text-decoration: none;
  text-align: center
}
.projTitle{
  font-weight: bold
}
