<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="container">
          <h1>New User</h1>
          <form action="/users" method="POST">
            <input type="hidden" name="owner" value="<%currentUser.username">
            <label for="name">User Name:</label>
            <input type="text" name="username" required/>
            <label for="color">Password:</label>
            <input type="password" name="password" />
            <br>
            <input class="submission" type="submit" value="Submit">
          <form>
         <a href="/portfolio">Back to Main Page</a>
        </div>
  </body>
</html>
