<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Ultra&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="container">
          <h1>New User</h1>
          <form action="/users" method="POST">
            <label for="name">User Name:</label>
            <input type="text" name="username" required/>
            <label for="color">Password:</label>
            <input type="password" name="password" />
            <br>
            <input class="submission" type="submit" value="Submit">
          <form>
         <a href="/portfolio">Back to Main Page</a>
        </div>


                  <style>
                  body{
                    font-family: 'Libre Baskerville', serif;
                  }
                  nav{
                    background-color: #422894;
                    color: white;
                  }
                  nav a{
                    color: white;
                    text-align: right;
                  }
                  nav h1{
                    color: white;
                    text-align: right;
                  }
                  .lowNav{
                   text-align: center;
                   display: flex;
                   flex-direction: column;
                   justify-content: center;
                   align-items: center;
                  }
                  h1{
                    color: #422894;
                    font-family: 'Libre Baskerville', serif;
                    text-align: center;
                    font-weight: bolder;
                  }
                  .text {
                        display: flex;
                        flex-wrap: wrap;
                        gap: 10px
                      }
                  .images{
                        max-width: 350px;
                        max-height: 300px;
                      }
                  .card{
                        border: 1px solid black;
                        border-radius: 25px;
                        padding: 20px;
                      }
                  .nameLink{
                    font-family: 'Libre Baskerville', serif;
                  }
                  .card:hover{
                        box-shadow: 2px 2px
                      }
                  button{
                    background-color: #DFDAF1;
                    color: #422894;
                    font-family: 'Libre Baskerville', serif;
                  }
                  .login{
                    text-align: right
                  }
                  .brand-logo{
                   background-color: #DFDAF1;
                   color: #422894;
                   font-family: 'Ultra', serif;
                   font-size: 30px;
                   text-decoration: none;
                   text-align: center
                  }
                  .cardLink{
                    text-decoration: none;
                    text-align: center
                  }
                  .projTitle{
                    font-weight: bold
                  }
                  .submission{
                    transform: scale(1.5);
                    background-color: #DFDAF1;
                    color: #422894;
                    font-family: 'Libre Baskerville', serif;
                    margin: 20px
                  }
                  </style>

  </body>
</html>
